Checks: "-*function-size, \
         -*magic-numbers*, \
         -performance-enum-size, \
         -readability-function-cognitive-complexity, \
         -readability-identifier-length"
InheritParentConfig: true
